:host {
  display: block;
  height: 100vh;
  background-color: #1976d2;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;

  .logo {
    width: 140px;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: white;
  text-align: center;
}

.full-width {
  width: 100%;
}

.extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.forgot {
  font-size: 0.9rem;
  color: #3f51b5;
  text-decoration: none;
}


