:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1976d2; // azul elegante
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 150px;
  margin-bottom: 1.5rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: white;
}

.full-width {
  width: 100%;
}

.extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.forgot {
  font-size: 0.9rem;
  color: #3f51b5;
  text-decoration: none;
}
