# =========================
# Angular / Node
# =========================
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

/node_modules
# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# TypeScript build info
*.tsbuildinfo

# Coverage / testing
/coverage
/.cache
/libpeerconnection.log
testem.log

# =========================
# Environments / Secrets (frontend suele no usarlos, por si acaso)
# =========================
.env
.env.*.local

# =========================
# IDEs y editores
# =========================
# JetBrains / IntelliJ / WebStorm
.idea/
*.iml

# Eclipse / otros
.project
.classpath
.c9/
*.launch
.settings/

# Sublime
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Fleet
.fleet/

# Historial de VSCode
.history/*

# =========================
# Misc
# =========================
.sass-cache/
.connect.lock
/typings

# Storybook
/storybook-static

# E2E - Cypress
/cypress/screenshots
/cypress/videos
/cypress/downloads

# E2E - Playwright
/test-results
/playwright-report
/blob-report
/.nyc_output

# =========================
# Sistemas operativos
# =========================
.DS_Store
Thumbs.db

# =========================
# Servicios de deploy (opcional)
# =========================
.vercel
.netlify
