.full-width {
  width: 100%;
  margin-bottom: 16px;
}
.half-width {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 16px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.actions {
  text-align: right;
  margin-top: 24px;
}
