:host {
    display: block;
    height: 100vh;
    background-image: url('/assets/Fondo\ Huskyvet.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  